<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.PersonalInfoMapper">
	<resultMap type="com.app.pojo.PersonalInfo" id="BaseResultMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="realname" property="realname" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="telephone" property="telephone" jdbcType="VARCHAR"/>
		<result column="qq" property="qq" jdbcType="VARCHAR"/>
		<result column="twitter" property="twitter" jdbcType="VARCHAR"/>
		<result column="intro" property="intro" jdbcType="VARCHAR"/>
		<result column="imagehash" property="imageHash" jdbcType="VARCHAR"/>
		<result column="image" property="image" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="Base_List">
		id,username,realname,email,telephone,qq,twitter,intro,imagehash,image	
	</sql>
	<insert id="insertAtFirst" parameterType="com.app.pojo.PersonalInfo">
		insert into personalinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="username != null">
				username,
			</if>
			<if test="realname != null">
				realname,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="qq != null">
				qq,
			</if>
			<if test="twitter != null">
				twitter,
			</if>
			<if test="intro != null">
				intro,
			</if>
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			<if test="username != null">
				#{username},
			</if>
			<if test="realname != null">
				#{realname},
			</if>
			<if test="email != null">
				#{email},
			</if>
			<if test="telephone != null">
				#{telephone},
			</if>
			<if test="qq != null">
				#{qq},
			</if>
			<if test="twitter != null">
				#{twitter},
			</if>
			<if test="intro != null">
				#{intro},
			</if>
		</trim>
	</insert>

	<select id="checkUsername" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(*) from 
		personalInfo 
		where username = #{username} 
	</select>
	
	<update id="updatePersonalInfo" parameterType="com.app.pojo.PersonalInfo">
		update personalInfo 
		<set>
			<if test="realname != null">
				realname = #{realname},
			</if>
			<if test="email != null">
				email = #{email},
			</if>
			<if test="telephone != null">
				telephone = #{telephone},
			</if>
			<if test="qq != null">
				qq = #{qq},
			</if>
			<if test="twitter != null">
				twitter = #{twitter},
			</if>
			<if test="intro != null">
				intro = #{intro},
			</if>
		</set>
		<where>
			<if test="username != null">
				username = #{username}
			</if>
		</where>
	</update>
	
	<update id="uploadImage">
		update personalInfo 
		<set>
			<if test="hashImage != null">
				imageHash = #{hashImage},
			</if>
			<if test="image != null">
				image = #{image},
			</if>
		</set>
		<where>
			<if test="username != null">
				username = #{username}
			</if>
		</where>
	</update>
	
	<select id="personalCenter" resultMap="BaseResultMap" parameterType="java.lang.String">
			select 
		<include refid="Base_List" />
			from personalInfo
		<where>
			username = #{username,jdbcType=VARCHAR}
		</where>
	</select>

</mapper>